body {
    font-family: "微软雅黑";
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, address, li {
    margin: 0px;
    padding: 0px;
}

dl, dt, em, li {
    list-style-type: none;
    font-style: normal;
}


/*头部样式*/
